
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
 	<link href="css/community.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">



 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>



	<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  
 	<script type="text/javascript">
  		// Firebase
     	var config = {
     	apiKey: "AIzaSyD3LN58BAvOG8ouHInfEzCKYmbwZI06gec",
     	authDomain: "musaic-1c1c3.firebaseapp.com",
     	databaseURL: "https://musaic-1c1c3.firebaseio.com",
     	projectId: "musaic-1c1c3",
     	storageBucket: "musaic-1c1c3.appspot.com",
     	messagingSenderId: "287286942286"
    	};
    	firebase.initializeApp(config);

    	const database = firebase.database();

    	const key = 'users/'; // Gets all users

      

    	database.ref(key).once('value', (snapshot) => {
    		const users = snapshot.val();

    		$(document).ready(() => {

          $()
          
    			console.log(users);
    			const toAdd = document.createDocumentFragment();
    			let index = 0;

    			if (users) {
    				Object.keys(users).forEach((name) => {
    					const newLi = document.createElement('div');


    					let userName = 'userName' + index;
    					let pic = 'pic' + index;
              let container = 'container' + index;

    					//Insert template for images into our HTML
    					newLi.innerHTML = "<div class='friends col-sm-3' id='"+container+"'><img class='profilePic img-responsive center-block' id='"+pic+"'><h3 id='"+userName+"'></h3></div>";


    					//Add to constant toAdd so we can add all at once
    					toAdd.appendChild(newLi);
    					index = index + 1;
    				});

    				// Add all user and pictures into the HTML
    				document.getElementById("allProfiles").appendChild(toAdd);
    			
    				index = 0

    				// Populate the template with each user
    				Object.keys(users).forEach((name)=> {
    					$('#userName' + index).html(users[name].displayName);
              $('#userName' + index).attr('userName', users[name].displayName);
              $('#pic' + index).attr('userName', users[name].displayName);
              $('#container' + index).attr('userName', users[name].displayName);
    					$('#pic' + index).attr('src', users[name].image);
              if (!users[name].image) {
                $('#pic' + index).attr('src', 'css/ProfilePics/userDefault.png');
              }
    					index = index + 1;
    				});
    			}

          // Makes the user show up
          $('#searchButton').click(() => {
            $('.friends').show();
            let found = false; 
            index = 0; //reset index
            console.log("button clicked");
            const searchName = $('#searchBar').val()
            //$('#allProfiles').hide();
              Object.keys(users).forEach((name) => {
              if (users[name].displayName === searchName) {
                console.log("match!");
                $('.friends').hide();
                $('#container' + index).show();
                found = true;
              }
              index = index + 1;
              });

             // Otherwise, return none
             if (!found) {
               console.log("Could not find user");
               document.getElementById("searchBar").value = "User not found...Search for another user";
               $("#searchBar").text("").css("color", "white");
            }
          });

          // Make modal appear w/ info from people
          $('.friends').click((e) => {
            index = 0;
            let userName = ($('userName') + index);

            Object.keys(users).forEach((name) => {
              userName = ($('userName') + index);

              if (users[name].displayName === e.target.getAttribute('userName')) {

                // Picture in Modal
                $('#picModal').attr('src', users[name].image);
                if (!users[name].image) {
                  $('#picModal').attr('src', 'css/ProfilePics/userDefault.png');
                }

                // Color of modal
                if (index % 2 === 1) {
                  console.log("Here");
                  $('.modal-content').css("background-color", "#c7374a");
                }

                else {
                  $('.modal-content').css("background-color", "#375ec7");
                }

                $('#userName').html(users[name].displayName);
               
                //Top 5 Favorite Songs
                $('#favoriteSong').html("1. " + users[name].topSong + " by " + users[name].topSongArtist);
                $('#favoriteSong2').html("2. " + users[name].topSong2 + " by " + users[name].topSongArtist2);
                $('#favoriteSong3').html("3. " + users[name].topSong3+ " by " + users[name].topSongArtist3);
                $('#favoriteSong4').html("4. " + users[name].topSong4 + " by " + users[name].topSongArtist4);
                $('#favoriteSong5').html("5. " + users[name].topSong5 + " by " + users[name].topSongArtist5);

                //Top 5 Artists
                $('#favoriteArtist').html("1. " + users[name].topArtist);
                $('#favoriteArtist2').html("2. " + users[name].topArtist2);
                $('#favoriteArtist3').html("3. " + users[name].topArtist3);
                $('#favoriteArtist4').html("4. " + users[name].topArtist4);
                $('#favoriteArtist5').html("5. " + users[name].topArtist5);
                
              }

              index = index + 1;
            });

            $('#myModal').show();
          });

          // Close modal when clicked
          $('.close').click(() => {
            $('#myModal').hide();
          });

          // Supposed to close modal when clicking outside but not working
          $(window).click((e) => {
            let modal = $('#myModal');
            if (e.target == modal) {
              console.log('here2');
              modal.hide();
            }
          });

          $.ajax({
            url: 'https://api.spotify.com/v1/me/tracks?ids='+playingID,
            type: 'PUT',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + "{{sess_access_token}}"
            },
            data: {
              //user's input
                ids:  playingID,
            },

            //response is the data received from spotify
            success: function (response) {
             
              console.log("Song added!");
              $("#add-btn").html("<i class='fas fa-check'></i>");
            }
          });


    		});
    	});

  	</script>
</head>

<body>
 
 <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
            
            <img class="profilePic img-responsive center-block" id="menuProfile" src="{{sess_image}}">
            <h4 id="menuWelcome">Welcome {{sess_display_name}}</h4>
   	   			<a href="mainPage"><li>Home</li></a>
   	   			<a href="#" id="active"><li>Community</li></a>
  	    		<!-- <a href="#"><li>My Profile</li></a> -->
            	<a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

	<h1 class="text-center">Community</h1>

  <!-- form -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <form class="form-inline md-form form-sm active-pink active-pink-2">
              <input class="form-control form-control-sm" id="searchBar" type="text" value="" placeholder="Search a User's Name" aria-label="Search">
              <button type="button" class="btn btn-info" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>

	<!-- Template for users -->
	<div class="container-fluid text-center" id="allProfiles">
		<div class="row">
      </div>
	</div>

      <!-- The Modal -->
      <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <img class="profilePic img-responsive center-block" id="picModal">
        <div class="text-center">
          <h1 id='userName'></h1>
          <h2>Favorite Songs:</h2>
          <h2 id="favoriteSong"></h2>
          <h2 id="favoriteSong2"></h2>
          <h2 id="favoriteSong3"></h2>
          <h2 id="favoriteSong4"></h2>
          <h2 id="favoriteSong5"></h2>
          <h2>Favorite Artists:</h2>
          <h2 id="favoriteArtist"></h2>
          <h2 id="favoriteArtist2"></h2>
          <h2 id="favoriteArtist3"></h2>
          <h2 id="favoriteArtist4"></h2>
          <h2 id="favoriteArtist5"></h2>
        </div>
      </div>
  
	
</body>
</html>