<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
 	<link href="css/community.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">



 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>



	<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  
 	<script type="text/javascript">
  		// Firebase
     	var config = {
     	apiKey: "AIzaSyD3LN58BAvOG8ouHInfEzCKYmbwZI06gec",
     	authDomain: "musaic-1c1c3.firebaseapp.com",
     	databaseURL: "https://musaic-1c1c3.firebaseio.com",
     	projectId: "musaic-1c1c3",
     	storageBucket: "musaic-1c1c3.appspot.com",
     	messagingSenderId: "287286942286"
    	};
    	firebase.initializeApp(config);

    	const database = firebase.database();

    	const key = 'users/'; // Gets all users

    	database.ref(key).once('value', (snapshot) => {
    		const users = snapshot.val();

    		$(document).ready(() => {
    			console.log(users);

    			const toAdd = document.createDocumentFragment();
    			let index = 0;

    			if (users) {
    				Object.keys(users).forEach((name) => {
    					const newLi = document.createElement('div');


    					let userName = 'userName' + index;
    					let pic = 'pic' + index;
              let container = 'container' + index;

    					//Insert template for images into our HTML
    					newLi.innerHTML = "<div class='friends col-sm-3' id='"+container+"'><img class='profilePic img-responsive center-block' id='"+pic+"'><h3 id='"+userName+"''></h3></div>";


    					//Add to constant toAdd so we can add all at once
    					toAdd.appendChild(newLi);
    					index = index + 1;
    				});

    				// Add all user and pictures into the HTML
    				document.getElementById("allProfiles").appendChild(toAdd);
    			
    				index = 0

    				// Populate the template with each user
    				Object.keys(users).forEach((name)=> {
    					$('#userName' + index).html(users[name].displayName);
    					try {
    						$('#pic' + index).attr('src', users[name].image);
    					} catch (e) {
    						$('#pic' + index).attr('src', 'css/ProfilePics/userDefault.png');

    					}
    					index = index + 1;
    				});
    			}

          // Makes the user show up
          $('#searchButton').click(() => {
            $('.friends').show();
            let found = false; 
            index = 0; //reset index
            console.log("button clicked");
            const searchName = $('#searchBar').val()
            //$('#allProfiles').hide();
              Object.keys(users).forEach((name) => {
              if (users[name].displayName === searchName) {
                console.log("match!");
                $('.friends').hide();
                $('#container' + index).show();
                found = true;
              }
              index = index + 1;
              });

             // Otherwise, return none
             if (!found) {
               console.log("Could not find user");
               document.getElementById("searchBar").value = "User not found...Search for another user";
               $("#searchBar").text("").css("color", "white");
            }
          });

          // Make modal appear
          $('.friends').click((e) => {

            $('#myModal').show();
          });

          // Close modal when clicked
          $('.close').click(() => {
            $('#myModal').hide();
          });

          // Supposed to close modal when clicking outside but not working
          $(window).click((e) => {
            let modal = $('#myModal');
            console.log('here');
            if (e.target == modal) {
              console.log('here2');
              modal.hide();
            }
          });




    		});
    	});

  	</script>
</head>

<body>
 
 <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="mainPage"><li>Home</li></a>
   	   			<a href="friends"><li>Community</li></a>
  	    		<!-- <a href="#"><li>My Profile</li></a> -->
            	<a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

	<h1 class="text-center">Community</h1>

  <!-- form -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <form class="form-inline md-form form-sm active-pink active-pink-2">
              <input class="form-control form-control-sm" id="searchBar" type="text" value="" placeholder="Search a User's Name" aria-label="Search">
              <button type="button" class="btn btn-info" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>

	<!-- Template for users -->
	<div class="container-fluid text-center" id="allProfiles">
		<div class="row">
      </div>
	</div>

      <!-- The Modal -->
      <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>
  
	
</body>
</html>