<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script type="text/javascript">
  $(document).ready(()=>{
      $('#searchButton').click(() => {
            console.log("button clicked");
            const searchName = $('#searchBar').val()
            const requestURL = 'data/' + searchName;
             console.log('making ajax request to:', requestURL);

            $.ajax({
                 url: requestURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {
                 console.log('You received some data!', data);

                 if (data[0].favSong && data[0].img) {
                   $('#searchResult').html("<p>"+searchName+"'s Favorite Song: "+data[0].favSong+"</p>");
                   $('#searchImage').attr('src', data[0].img);
                   $('#searchImage').attr('style', 'display:block');

                } else {
                  $('#searchResult').html('User not found!!');
                  // clear the display
                }
              },

            });
  });
    });
  </script>
</head>

<body>


  <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="#" id="active"><li>Home</li></a>
   	   			<a href="friends"><li>Friends</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

    <h1 class="text-center">Musaic</h1>

    <h2 class="text-center">Music Tastes</h2>

    <h4 class="text-center">Favorite Songs</h3>

    <!-- form -->
    <form class="form-inline md-form form-sm active-pink active-pink-2">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" id="searchBar" type="text" placeholder="Search Friend's Name" aria-label="Search">
      <button type="button" class="btn btn-info" id="searchButton">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </form>
  <div class="container-fluid text-center">
      <div class="row">
    <div id="searchResult" class="col-sm-2"></div>
    <a href="/profile"><img id="searchImage" class="profilePic" src=""></a>
  </div>
</div>

      <!--User profiles -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Hunter</h3>
            <h4 class="bottomSecondLeft profileText">Starboy</h4>
            <h4 class="bottomThirdLeft profileText">The Weeknd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/hunter.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">15</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1h</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Nathan</h3>
            <h4 class="bottomSecondLeft profileText">Radioactive</h4>
            <h4 class="bottomThirdLeft profileText">Imagine Dragons</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/Nathan.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">45</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1h</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Alvin</h3>
            <h4 class="bottomSecondLeft profileText">Shame</h4>
            <h4 class="bottomThirdLeft profileText">Hearts &amp; Colors</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/alvin.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">65</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">2h</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Luis</h3>
            <h4 class="bottomSecondLeft profileText">Viva La Vida</h4>
            <h4 class="bottomThirdLeft profileText">Coldplay</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/luis.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">55</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">4h</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Jason</h3>
            <h4 class="bottomSecondLeft profileText">Mine</h4>
            <h4 class="bottomThirdLeft profileText">Bazzi</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/jason.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">70</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">5h</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Justin</h3>
            <h4 class="bottomSecondLeft profileText">MIC Drop</h4>
            <h4 class="bottomThirdLeft profileText">BTS</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/justin.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">80</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">7h</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Victoria</h3>
            <h4 class="bottomSecondLeft profileText">Stay</h4>
            <h4 class="bottomThirdLeft profileText">Zedd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/victoria.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">90</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">12h</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Kenneth</h3>
            <h4 class="bottomSecondLeft profileText">Better Now</h4>
            <h4 class="bottomThirdLeft profileText">Post Malone</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/kenneth.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">124</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1d</h5>
          </div>

          <div class="col-sm-4 grow profile">
            <h3 class="bottomFirstLeft profileText">Nessa</h3>
            <h4 class="bottomSecondLeft profileText">The Middle</h4>
            <h4 class="bottomThirdLeft profileText">Zedd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/nessa.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">170</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">3d</h5>
          </div>
      </div>
    </div>



</body>
</html>
