<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script type="text/javascript">
  $(document).ready(()=>{
   
   // Loads all profiles that are currently in the database
      const friendURL = 'friend/';
      $.ajax({
                 url: friendURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {

                  const toAdd = document.createDocumentFragment();
                  let index = 0;

                  // Goes through the database and creates a square for each person
                  for (const e of data) {
                    const newLi = document.createElement('div');
                    let userName = 'userName' + index;
                    let songName = 'songName' + index;
                    let artistName = 'artistName' + index;
                    let pic = 'pic' + index;
                    let chatText = 'chatText' + index;
                    let clockText = 'clockText' + index;
                    let transparentBoxColor = 'transparentBoxColor' + index;

                    // HTML template being added for each user 
                    newLi.innerHTML = "<div class='col-sm-4 grow profile'><h3 class='userNameText profileText' id='"+userName+"'></h3><h4 class='songNameText profileText' id='"+songName+"'></h4><h4 class='artistNameText profileText' id='"+artistName+"'></h4><div class='transparentBox text-center' id='"+transparentBoxColor+"'></div><a href='/profile'><img class='profilePic col-sm-2' id='"+pic+"'></a><img class='icon chatBubble' src='css/Icons/chatBubble.png'><h5 class='chatNumber' id='"+chatText+"'></h5><img class='icon clock' src='css/Icons/clock.png'><h5 class='clockNumber' id='"+clockText+"'></h5></div></div>";

                    toAdd.appendChild(newLi);
                    index = index + 1;
                 }
                 // Adds all the squares into the HTML
                 document.getElementById('allProfiles').appendChild(toAdd); 

                 index = 0; //reset index

                 // Gets info from the database to fill in the newly created squares
                 for (const e of data) {
                  if (index % 2 === 1) {
                    $('#transparentBoxColor' + index).css("background-color", "#FF4365");
                  }

                  $('#userName' + index).html(e.name);
                  $('#songName' + index).html(e.favSong);
                  $('#artistName' + index).html(e.artist);
                  $('#chatText' + index).html(e.chat);
                  $('#clockText' + index).html(e.time);
                  $('#pic' + index).attr('src', e.img);
                  index = index + 1;
                 }
               },
      }); 


      $('.searchProfile').hide(); // Hides search profile template

      // Search button grabs the string in the search bar
      $('#searchButton').click(() => {
            console.log("button clicked");
            const searchName = $('#searchBar').val()
            const requestURL = 'friend/' + searchName;
            console.log('making ajax request to:', requestURL);

            $.ajax({
                 url: requestURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {
                 console.log('You received some data!', data);
                 console.log(searchName);

                 // If there is a name, pull up the user info
                 if (data.name) {
                  console.log(data.favSong);
                   $('.profileBeg').hide();
                   $('#userNameSearch').html(data.name);
                   $('#songNameSearch').html(data.favSong);
                   $('#artistNameSearch').html(data.artist);
                   $('#chatTextSearch').html(data.chat);
                   $('#clockTextSearch').html(data.time);
                   $('#picSearch').attr('src', data.img);
                   $('.searchProfile').show()
                   $('#searchResult').html('');


                  // Otherwise, return none
                } else {
                  $('#searchResult').html('User not found!!');
                  $('.profileBeg').show();
                  $('.searchProfile').hide();
                  // clear the display
                }
              },

            });
          });

        $('.userNameText').click(() => {
          console.log("Hi");
        });

    });
  </script>
</head>

<body>


  <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="#" id="active"><li>Home</li></a>
   	   			<a href="friends"><li>Friends</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

    <h1 class="text-center">Musaic</h1>

    <h3 class="text-center">Music Tastes</h3>

    <h4 class="text-center">Favorite Songs</h4>

    <div class="text-center">
      <!-- Trigger/Open The Modal -->
      <a href="yourProfile"><button type="button" class="btn btn-info" id="myBtn">Set Favorite Song</button></a>

      <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
          </div>
      </div>
    </div>  

   <!--
    <div class="text-center">
      <button class="favoriteButton">Set Favorite</button>
    </div>
  -->


    <!-- form -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <form class="form-inline md-form form-sm active-pink active-pink-2">
              <input class="form-control form-control-sm" id="searchBar" type="text" placeholder="Search Friend's Name" aria-label="Search">
              <button type="button" class="btn btn-info" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>

  <div class="container-fluid text-center">
      <div class="row">
        <div id="searchResult" class="col-sm-2"></div>
        <a href="/profile"><img id="searchImage" class="profilePic" src=""></a>
      </div>
  </div>

    <!-- Div that holds all the profiles in the beginning -->
    <div class="container-fluid">
      <div class="profileBeg row" id="allProfiles">
      </div>
    </div>

    <!--Profile that comes up after being searched -->
    <div class="container-fluid searchProfile">
      <div class="row">
          <div class="col-sm-4 grow">
            <h3 class="userNameText profileText" id="userNameSearch"></h3>
            <h4 class="songNameText profileText" id="songNameSearch"></h4>
            <h4 class="artistNameText profileText" id="artistNameSearch"></h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" id="picSearch"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber" id="chatTextSearch"></h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber" id="clockTextSearch"></h5>
          </div>
        </div>
      </div>

  <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    // btn.onclick = function() {
    //     // modal.style.display = "block";
    //     res.render("/yourProfile");
    // }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
</body>
</html>
