<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script type="text/javascript">
  $(document).ready(()=>{
   
   // Implement loop to load all profiles on start
   /*   const friendURL = 'friend/';
      $.ajax({
                 url: friendURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {
                 console.log('You received some data!', data);
                 console.log('hi');
                 // Implement a for loop here for all the profiles
               },
      }); */


      $('.searchProfile').hide(); // Hides search profile template

      // Search button grabs the string in the search bar
      $('#searchButton').click(() => {
            console.log("button clicked");
            const searchName = $('#searchBar').val()
            const requestURL = 'friend/' + searchName;
            console.log('making ajax request to:', requestURL);

            $.ajax({
                 url: requestURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {
                 console.log('You received some data!', data);
                 console.log(searchName);

                 // If there is a name, pull up the user info
                 if (data.name) {
                  console.log(data.favSong);
                   $('.profile').hide();
                   $('#userName').html(data.name);
                   $('#songName').html(data.favSong);
                   $('#artistName').html(data.artist);
                   $('#chatText').html(data.chat);
                   $('#clockText').html(data.time);
                   $('#pic').attr('src', data.img);
                   $('.searchProfile').show()
                   $('#searchResult').html('');


                  // Otherwise, return none
                } else {
                  $('#searchResult').html('User not found!!');
                  $('.profile').show();
                  $('.searchProfile').hide();
                  // clear the display
                }
              },

            });
  });
    });
  </script>
</head>

<body>


  <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="#" id="active"><li>Home</li></a>
   	   			<a href="friends"><li>Friends</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

    <h1 class="text-center">Musaic</h1>

    <h2 class="text-center">Music Tastes</h2>

    <h4 class="text-center">Favorite Songs</h3>

    <!-- form -->
    <form class="form-inline md-form form-sm active-pink active-pink-2">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" id="searchBar" type="text" placeholder="Search Friend's Name" aria-label="Search">
      <button type="button" class="btn btn-info" id="searchButton">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </form>
  <div class="container-fluid text-center">
      <div class="row">
    <div id="searchResult" class="col-sm-2"></div>
    <a href="/profile"><img id="searchImage" class="profilePic" src=""></a>
  </div>
</div>

    <!--Profile that comes up after being searched -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4 grow searchProfile">
            <h3 class="bottomFirstLeft profileText" id="userName"></h3>
            <h4 class="bottomSecondLeft profileText" id="songName"></h4>
            <h4 class="bottomThirdLeft profileText" id="artistName"></h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" id="pic"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber" id="chatText"></h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber" id="clockText"></h5>
          </div>
        </div>
      </div>

    <!--User profiles -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4 grow profile" id="Hunter">
            <h3 class="bottomFirstLeft profileText">Hunter Lai</h3>
            <h4 class="bottomSecondLeft profileText">Starboy</h4>
            <h4 class="bottomThirdLeft profileText">The Weeknd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/hunter.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">15</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1h</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Nathan">
            <h3 class="bottomFirstLeft profileText">Nathan Mansur</h3>
            <h4 class="bottomSecondLeft profileText">Radioactive</h4>
            <h4 class="bottomThirdLeft profileText">Imagine Dragons</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/Nathan.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">45</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1h</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Alvin">
            <h3 class="bottomFirstLeft profileText">Alvin Ngo</h3>
            <h4 class="bottomSecondLeft profileText">Shame</h4>
            <h4 class="bottomThirdLeft profileText">Hearts &amp; Colors</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/alvin.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">65</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">2h</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-4 grow profile" id="Luis">
            <h3 class="bottomFirstLeft profileText">Luis Lu</h3>
            <h4 class="bottomSecondLeft profileText">Viva La Vida</h4>
            <h4 class="bottomThirdLeft profileText">Coldplay</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/luis.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">55</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">4h</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Jason">
            <h3 class="bottomFirstLeft profileText">Jason Liu</h3>
            <h4 class="bottomSecondLeft profileText">Mine</h4>
            <h4 class="bottomThirdLeft profileText">Bazzi</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/jason.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">70</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">5h</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Justin">
            <h3 class="bottomFirstLeft profileText">Justin Wu</h3>
            <h4 class="bottomSecondLeft profileText">MIC Drop</h4>
            <h4 class="bottomThirdLeft profileText">BTS</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/justin.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">80</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">7h</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-4 grow profile" id="Victoria">
            <h3 class="bottomFirstLeft profileText">Victoria Vu</h3>
            <h4 class="bottomSecondLeft profileText">Stay</h4>
            <h4 class="bottomThirdLeft profileText">Zedd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/victoria.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">90</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">12h</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Kenneth">
            <h3 class="bottomFirstLeft profileText">Kenneth Truong</h3>
            <h4 class="bottomSecondLeft profileText">Better Now</h4>
            <h4 class="bottomThirdLeft profileText">Post Malone</h4>
            <div class="transparentBox text-center odd"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/kenneth.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">124</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">1d</h5>
          </div>

          <div class="col-sm-4 grow profile" id="Nessa">
            <h3 class="bottomFirstLeft profileText">Nessa Vu</h3>
            <h4 class="bottomSecondLeft profileText">The Middle</h4>
            <h4 class="bottomThirdLeft profileText">Zedd</h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" src="css/ProfilePics/nessa.jpg"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber">170</h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber">3d</h5>
          </div>
      </div>
    </div>



</body>
</html>
