<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">
 
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  <script>
  // Initialize Firebase
  
</script>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script type="text/javascript">
    // Firebase
    var config = {
     apiKey: "AIzaSyD3LN58BAvOG8ouHInfEzCKYmbwZI06gec",
     authDomain: "musaic-1c1c3.firebaseapp.com",
     databaseURL: "https://musaic-1c1c3.firebaseio.com",
     projectId: "musaic-1c1c3",
     storageBucket: "musaic-1c1c3.appspot.com",
     messagingSenderId: "287286942286"
    };
    firebase.initializeApp(config);

    const database = firebase.database();

    const key = 'users/'; // Gets all users

   database.ref(key).once('value', (snapshot) => {
    const users = snapshot.val();

  $(document).ready(()=>{
   
    console.log(users);
    console.log(users.topSong);

    const toAdd = document.createDocumentFragment();
    let index = 0;

    if (users) {
      //Loops through all users
      Object.keys(users).forEach((name) => {
        const newLi = document.createElement('div');

        let userName = 'userName' + index;
        let songName = 'songName' + index;
        let artistName = 'artistName' + index;
        let pic = 'pic' + index;
        let chatText = 'chatText' + index;
        let clockText = 'clockText' + index;
        let transparentBoxColor = 'transparentBoxColor' + index;
        

        //Template for Square Boxes
        // <a href='/profile'> reimplement </a> reimplement by wrapping around image
        newLi.innerHTML = "<div class='col-sm-4 grow profile profileBeg' id='profile'"+index+"><h3 class='userNameText profileText' id='"+userName+"'></h3><h4 class='songNameText profileText' id='"+songName+"' ></h4><h4 class='artistNameText profileText' id='"+artistName+"'></h4><div class='transparentBox' id='"+transparentBoxColor+"'></div><img class='profilePic col-sm-2' id='"+pic+"'><img class='icon chatBubble' src='css/Icons/chatBubble.png'><h5 class='chatNumber' id='"+chatText+"'></h5><img class='icon clock' src='css/Icons/clock.png'><h5 class='clockNumber' id='"+clockText+"'></h5></div></div>";

        toAdd.appendChild(newLi);
        index = index +1;

        console.log(users[name].topSong);
      });

      // Adds all the squares into the HTML
      document.getElementById('allProfiles').appendChild(toAdd); 

      index = 0; //reset index

      // Gets info from the database to fill in the newly created squares
      Object.keys(users).forEach((name) => {

        //Color changer
        if (index % 2 === 1) {
          $('#transparentBoxColor' + index).css("background-color", "#FF4365");
        }

        $('#userName' + index).html(users[name].displayName);
        $('#songName' + index).html(users[name].topSong);

        if(users[name].topSongPrev){
          $('#songName' + index).attr("data-prev_url", users[name].topSongPrev);
          console.log("SONG PREVIEW ADDED");
          console.log($('#songName' + index).attr("data-prev_url"));
        }

        $('#artistName' + index).html(users[name].topSongArtist);
        if (users[name].image) {
          $('#pic' + index).attr('src', users[name].image);
        }

        else {
          $('#pic' + index).attr('src', 'css/ProfilePics/userDefault.png');
        }
        //$('#chatText' + index).html(e.chat);
        //$('#clockText' + index).html(e.time);
        index = index + 1;
      });
    }

   });

      

      $('.searchProfile').hide(); // Hides search profile template
     
      // Search button grabs the string in the search bar
      $('#searchButton').click(() => {
        index = 0; //reset index
        console.log("button clicked");
        const searchName = $('#searchBar').val()
        $('#allProfiles').hide();
        Object.keys(users).forEach((name) => {
          if (users[name].displayName === searchName) {
            console.log("match!");
            $('#userNameSearch').html(name);
            $('#songNameSearch').html(users[name].topSong);
            $('#artistNameSearch').html(users[name].topSongArtist);
            // $('#chatTextSearch').html(data.chat);
            // $('#clockTextSearch').html(data.time);
            $('#picSearch').attr('src', users[name].image);
            $('.searchProfile').show()
            $('#searchResult').html('');
            index = index + 1;
            } 
          
        });

        // Otherwise, return none
        if (index === 0) {
            console.log("Could not find user");
            document.getElementById("searchBar").value = "User not found...Search for another friend";
            $("#searchBar").text("").css("color", "white");
            $('#allProfiles').show();
            $('.searchProfile').hide();
            // clear the display
        }
      });
      
        $('.userNameText').click(() => {
          console.log("Hi");
        });

        //Overflow check
        $('.songNameText').hover(() => {
        /*  console.log($(this).attr('id'));
          //$('.songNameText').css("background-color", "#4388ff");

          console.log("hover");
          console.log(document.getElementsByClassName('songNameText')[0].scrollWidth);
          console.log(document.getElementsByClassName('songNameText')[0].offsetWidth);

          console.log(document.getElementsByClassName('transparentBox')[0].offsetWidth); */
        });

        $('.songNameText').click((e) => {

          var target = e.target;
          console.log(target);
          console.log("Song Name Clicked");
          console.log("ID: "+target.id);
          console.log(target.innerHTML);
          console.log("Preview URL = "+target.getAttribute('data-prev_url')); 

          audioObject = new Audio(target.getAttribute('data-prev_url'));
          audioObject.play();


        });
        

    }); 
  </script>
</head>

<body>


  <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="#" id="active"><li>Home</li></a>
   	   			<a href="community"><li>Community</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>

    <h1 class="text-center">Musaic</h1>

    <h3 class="text-center">Music Tastes</h3>

    <div class="text-center">
      <!-- Trigger/Open The Modal -->
      <a href="selectSong"><button type="button" class="btn btn-info" id="myBtn">Search For A Song</button></a>

      <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
          </div>
      </div>
    </div>  



   <!--
    <div class="text-center">
      <button class="favoriteButton">Set Favorite</button>
    </div>
  -->


    <!-- form -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12 text-center">
          <form class="form-inline md-form form-sm active-pink active-pink-2">
              <input class="form-control form-control-sm" id="searchBar" type="text" value="" placeholder="Search Friend's Name" aria-label="Search">
              <button type="button" class="btn btn-info" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>

    <h2 class="text-center">Top Songs</h2>

  <div class="container-fluid">
      <div class="row">
        <div id="searchResult" class="col-sm-2"></div>
        <a href="/profile"><img id="searchImage" class="profilePic" src=""></a>
      </div>

    <!-- Div that holds all the profiles in the beginning -->
    <div class="container-fluid" id="allProfiles">
      <div class="profileBeg row">
      </div>
    </div>

    <!--Profile that comes up after being searched -->
    <div class="container-fluid searchProfile">
      <div class="row">
          <div class="col-sm-4 grow">
            <h3 class="userNameText profileText" id="userNameSearch"></h3>
            <h4 class="songNameText profileText" id="songNameSearch"></h4>
            <h4 class="artistNameText profileText" id="artistNameSearch"></h4>
            <div class="transparentBox text-center"></div>
            <a href="/profile"><img class="profilePic col-sm-2" id="picSearch"></a>
            <img class="icon chatBubble" src="css/Icons/chatBubble.png">
            <h5 class="chatNumber" id="chatTextSearch"></h5>
            <img class="icon clock" src="css/Icons/clock.png">
            <h5 class="clockNumber" id="clockTextSearch"></h5>
          </div>
        </div>
      </div>

  <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    // btn.onclick = function() {
    //     // modal.style.display = "block";
    //     res.render("/yourProfile");
    // }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
</body>
</html>
