<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
  <link href="css/Profile.css" rel="stylesheet">
  <link href="css/searchbar.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>

  <script type="text/javascript">
  $(document).ready(()=>{
     const friendURL = 'friend/';
      $.ajax({
                 url: friendURL,
                 type: 'GET',
                 dataType : 'json', // this URL returns data in JSON format
                 success: (data) => {

                  const toAdd = document.createDocumentFragment();
                  let index = 0;

                  // Goes through the database and creates a square for each person
                  for (const e of data) {
                    const newLi = document.createElement('div');
                    let userName = 'userName' + index;
                    let songName = 'songName' + index;
                    let artistName = 'artistName' + index;
                    let pic = 'pic' + index;
                    let chatText = 'chatText' + index;
                    let clockText = 'clockText' + index;
                    let transparentBoxColor = 'transparentBoxColor' + index;

                    // HTML template being added for each user 
                    newLi.innerHTML;

                    toAdd.appendChild(newLi);
                    index = index + 1;
                 }
                 // Adds all the squares into the HTML
                 document.getElementById('allProfiles').appendChild(toAdd); 

                 index = 0; //reset index

                 // Gets info from the database to fill in the newly created squares
                 for (const e of data) {
                  if (index % 2 === 1) {
                    $('#transparentBoxColor' + index).css("background-color", "#FF4365");
                  }

                  $('#userName' + index).html(e.name);
                  $('#songName' + index).html(e.favSong);
                  $('#artistName' + index).html(e.artist);
                  $('#chatText' + index).html(e.chat);
                  $('#clockText' + index).html(e.time);
                  $('#pic' + index).attr('src', e.img);
                  index = index + 1;
                 }
               },
      }); 
    });
    </script>

</head>

<body>


  <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="mainPage"><li>Home</li></a>
   	   			<a href="friends"><li>Community</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>
    <h1 class="text-center">Hunter Lai</h1>
    <h1 class="text-center userName"></h1>
    <div class="container-fluid">
        <div class="row">
          <img class="profilePic center-block" src="css/ProfilePics/hunter.jpg"></a>
        </div>

        <div class="row">
          <div class="col-sm-4 grow">
            <h3 class="bottomFirstLeft text-center">Favorite Song</h3>
            <h4 class="bottomSecondLeft text-center">Starboy</h4>
            <h4 class="bottomThirdLeft text-center">The Weeknd</h4>
            <div class="transparentBox text-center
            "></div>
            <img class="albumCover center-block" src="css/AlbumCovers/Starboy.jpg">
          </div>

          <div class="col-sm-4 grow">
            <img class="albumCover center-block" src="css/AlbumCovers/Pompeii.jpg">
            <h3 class="bottomFirstLeft text-center">Most Played</h3>
            <h4 class="bottomSecondLeft text-center">Pompeii</h4>
            <h4 class="bottomThirdLeft text-center">Bastille</h4>
            <div class="transparentBox text-center
            "></div>
          </div>

          <div class="col-sm-4 grow">
            <img class="albumCover center-block" src="css/AlbumCovers/ChunLi.jpg">
            <h3 class="bottomFirstLeft text-center">Newest Discovery</h3>
            <h4 class="bottomSecondLeft text-center">Chun Li</h4>
            <h4 class="bottomThirdLeft text-center">Nicki Minaj</h4>
            <div class="transparentBox text-center
            "></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 grow">
            <h3 class="bottomFirstLeftTwoLine text-center">Favorite Artist</h3>
            <h4 class="bottomSecondLeftTwoLine text-center">The Weeknd</h4>
            <div class="transparentBox text-center
            "></div>
            <img class="albumCover center-block" src="css/Artists/TheWeeknd.jpg">
          </div>

          <div class="col-sm-4 grow">
            <img class="albumCover center-block" src="css/Artists/CashCash.jpg">
            <h3 class="bottomFirstLeftTwoLine text-center">Most Played Artist</h3>
            <h4 class="bottomSecondLeftTwoLine text-center">Cash Cash</h4>
            <div class="transparentBox text-center
            "></div>
          </div>

          <div class="col-sm-4 grow">
            <img class="albumCover center-block" src="css/AlbumCovers/Mine.jpg">
            <h3 class="bottomFirstLeft text-center">Recently Played</h3>
            <h4 class="bottomSecondLeft text-center">Mine</h4>
            <h4 class="bottomThirdLeft text-center">Bazzi</h4>
            <div class="transparentBox text-center
            "></div>
          </div>
        </div>

      </div>
    </div>
</body>
</html>
