<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

  <base href="/">

  <link rel="stylesheet" type="text/css" href="css/search.css">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/searchbar.css" rel="stylesheet">
  <link href="css/selectSong.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  	
</head>

<body>

 <!-- Hamburger Menu -->
	<nav role="navigation">
		<div id="menuToggle">
   	 		<!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
 	   		
 	   		<input type="checkbox" />
    
 	   		<!--Some spans to act as a hamburger.-->
  	  		<span></span>
  	  		<span></span>
  	  		<span></span>
   	  		<ul id="menu">
   	   			<a href="mainPage"><li>Home</li></a>
   	   			<a href="friends"><li>Friends</li></a>
  	    		<!-- <a href="myProfile"><li>My Profile</li></a> -->
  	    		<!-- <a href="#"><li>Settings</li></a> -->
            <a href="/"><li>Sign Out</li></a>
   			</ul>
  		</div>
	</nav>






<!-- CONTAINS SEARCH FORM  -->
  <h1 class="text-center">Search Song</h1>
  <div class="container text-center">
    <form id="search-form-single">
        <input type="text" id="query-single" value="" class="form-control" placeholder="Type a Track Name"/>
        <input type="submit" id="search-single" class="btn btn-info" value="Search" />
    </form>
    <div class="text-center" id="resultsSingle"></div>
</div>





<!-- CREATES A HANDLEBARS TEMPLATE FOR TRACKS--> 
<!-- Move this: <button track="{{name}}" class="song-btn btn-info">Set {{name}} as Favorite Song </button> <hr> back into for each loop -->
<script id="results-template-single" type="text/x-handlebars-template">
    {{#each tracks.items}}
        <div style="background-image:url({{album.images.0.url}})" data-track-id="{{id}}"  data-prev-url="{{preview_url}}" trackName = "{{name}}" artist="{{album.artists.0.name}}"  album="{{album.name}}" class="cover"></div>
        <h1 id={{id}} style="display:none"> We're Sorry, this song is not available to preview </h1>
        <p>Name: {{name}}</p>
        <p>Artist: {{album.artists.0.name}}</p>
        <p>Album: {{album.name}}</p>
    {{/each}}




</script>
<script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<!--  <script type="text/javascript" src="/js/search.js"></script> -->

<script>

console.log("running search.js");

var templateSourceSingle = document.getElementById('results-template-single').innerHTML,
    templateSingle = Handlebars.compile(templateSourceSingle),
    resultsPlaceholderSingles = document.getElementById('resultsSingle'),
    playingCssClass = 'playing',
    audioObject = null;

    console.log("SESSION TOKEN = "+"<%=sess_access_token%>");

var access_token = "<%=sess_access_token%>",
    id = "<%=sess_id%>";




//TAKES THE USER'S INPUT AND SENDS IT AS A QUERY TO SPOTIFY TO SEARCH FOR TRACKS WITH THAT NAME
var searchTracks = function (query) {
    console.log("running searchTracks");  


      //call to spotify
      $.ajax({
          url: 'https://api.spotify.com/v1/search',
          headers: {
              'Authorization': 'Bearer ' + access_token
          },
          data: {
            //user's input
              q: query,
              type: 'track'
          },

          //response is the data received from spotify
          success: function (response) {
             
             //uses the handlebars template to show each song on the selectSong page based on the response received
              resultsPlaceholderSingles.innerHTML = templateSingle(response);




              console.log("resultsPlaceholderSingles.innerHTML = "+resultsPlaceholderSingles.innerHTML);
          }
    });
};



//WHEN CLICKING ON THE ALBUM COVER THE PREVIEW WILL PLAY
  resultsSingle.addEventListener('click', function (e) {

    //the song that was clicked on
      var target = e.target;


      if (target !== null && target.classList.contains('cover')) {
        console.log("printing target ID: "+target.getAttribute('data-track-id'));
        console.log("printing target URL: "+target.getAttribute('data-prev-url'));
          console.log("printing track name: "+target.getAttribute('trackName'));
      

          //id of the song that was clicked on
         var id = target.getAttribute('data-track-id');

      console.log("printing artist: "+target.getAttribute('artist'));
      console.log("printing album: "+target.getAttribute('album'));


      //Some songs don't have preview, so if it does not it will display a message
        if(!(target.getAttribute('data-prev-url'))){
            console.log("preview not found");
            document.getElementById(id).style.display = "block";
        }else{
          // document.getElementById('notPlayingMsg').setAttribute('display', 'none');
            document.getElementById(id).style.display = "none";
        }



        
        //Creates audio object and plays
          if (target.classList.contains(playingCssClass)) {
              audioObject.pause();
          } else {
              if (audioObject) {
                  audioObject.pause();
              }

              //create new audio object based on preview url
              audioObject = new Audio(target.getAttribute('data-prev-url'));
              audioObject.play();
              target.classList.add(playingCssClass);


              audioObject.addEventListener('ended', function () {
                  target.classList.remove(playingCssClass);
              });
              audioObject.addEventListener('pause', function () {
                   target.classList.remove(playingCssClass);
              });
          }
      }
});

  

//when the user presses search, it will run searchTracks which will find and populate the page with
//search results
document.getElementById('search-form-single').addEventListener('submit', function (e) {
    e.preventDefault();

    //runs searchTracks with the user's search input
    searchTracks(document.getElementById('query-single').value);
}, false);
</script>


	
</body>
</html>
