/*!
 *main css file for community pages
 */
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

h1, h2, h3, h4 {
	font-family: Poppins-Regular, sans-serif;
	color: white;
}

.menuText {
	margin-top: 12%;
	margin-bottom: 12%;
	color: black;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://i.pinimg.com/originals/ff/2b/02/ff2b024eb639157f808a53d93f5affb8.jpg); background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}

.profilePic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.friends {
	margin-top: 15px;
	margin-bottom: 15px;
	transition: all .2s ease-in-out

}

.friends:hover {
	transform: scale(1.2);
	transition: all .2s ease-in-out
}

#menuProfile {
	width: 225px;
	height: 200px;
	border-radius: 50%;
}
}
