/*!
 *main css file for main pages
 */

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

h1, h2, h3, h4, h5 {
	font-family: Poppins-Regular, sans-serif;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://i.pinimg.com/originals/ff/2b/02/ff2b024eb639157f808a53d93f5affb8.jpg); background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}

.searchProfile, .profileBeg {
	transform: scale(.85);
}

.profile, .searchProfile {
	margin-bottom: 25px;
	margin-top: 25px;
}

.profileText {
	margin-left: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#searchImage{
	margin: 0 auto;
	display: none;
}

.profilePic {
	width: 225px;
	height: 200px;
	border-radius: 50%;
}

#searchImage{
	margin: 0 auto;
	display: none;
}

.albumCover {
	width: 250px;
	height: 250px;
	z-index: -2;
	position: relative;
	margin-top: 20px;
}

.userNameText {
	position: absolute;
	font-size: 22px;
	width: 43%;
	left: 0px;
	top: 10px;
}

.songNameText {
	position: absolute;
	width: 43%;
	left: 0px;
	top: 65px;
	font-size: 20px;
	text-decoration: underline;
}

.artistNameText {
	position: absolute;
	width: 43%;
	left: 0px;
	top: 100px;
	text-decoration: underline;
	font-size: 16px;
}

 .transparentBox {
	background-color: #375ec7;
	/* Previous Color: 08b2e3; */
	width: 350px;
	height: 200px;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
	margin-left: 130px;
	margin-right: auto;
	margin-top: auto;
	z-index: -1;
}

.odd {
	background-color: #c7374a;
}

.bottomFirstLeftTwoLine {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 50px;
}

.bottomSecondLeftTwoLine {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 15px;
	font-size: 20px;
}

.grow { 
	transition: all .2s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.1); 
}

.icon {
	width: 25px;
	height: 25px;
}

.chatBubble {
	position: absolute;
	bottom: 20px;
	left: 250px;
}

.chatNumber {
	position: absolute;
	left: 290px;
	bottom: 15px;
	color: black;
}

.clock {
	position: absolute;
	bottom: 20px;
	left: 330px;
}

.clockNumber {
	position: absolute;
	left: 370px;
	bottom: 15px;
	color: black;
}

.favoriteButton {
	z-index: 1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.underline {
	text-decoration: underline;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar img{
	float: left;
	width: 64px;

}

#add-btn{
	font-size: 25px;
}


