h4 {
	font-size: 16px;
}

.profilePic {
	width: 225px;
	height: 200px;
	border-radius: 50%;
}

#searchImage{
	margin: 0 auto;
	display: none;
}

#searchButton{
	margin-left: 85%;
}

.albumCover {
	width: 250px;
	height: 250px;
	z-index: -2;
	position: relative;
}

.bottomFirstLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 50px;
	background-color: rgba(35,35,35,.7);
}

.bottomSecondLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 25px;
	background-color: rgba(35,35,35,.7);
}

.bottomThirdLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	background-color: rgba(35,35,35,.7);
}

/* .transparentBox {
	background-color: rgba(0, 0, 0, .75);
	width: 250px;
	height: 100px;
	bottom: 0px;
	left: 10px;
	position: absolute;
	z-index: -1;
}
*/