h4 {
	font-size: 16px;
}

.profilePic {
	width: 225px;
	height: 200px;
	border-radius: 50%;
}

#searchImage{
	margin: 0 auto;
	display: none;
}

#searchButton{
	margin-left: 85%;
}

.albumCover {
	width: 250px;
	height: 250px;
	z-index: -2;
	position: relative;
	margin-top: 20px;
}

.bottomFirstLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 50px;
}

.bottomSecondLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 25px;
}

.bottomThirdLeft {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
}

 .transparentBox {
	background-color: rgba(0, 0, 0, .85);
	width: 250px;
	height: 100px;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	z-index: -1;
}

.holder {
	width: 100%;
	position: absolute;
}
