
.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    margin-top: 15px;
    margin-bottom: 30px;
}

                            
                            


                            